
 #videos {
    display: grid;
     text-align: left;
grid-template-columns: 400px 400px 400px 400px;
grid-template-rows: 300px 300px 300px 300px 500px 300px;
 }   
    

#boldme {
    font-weight: bold;
    font-size: 1.4rem;
}
#sidetoolbar {
    line-height: 35px;
    font-size: 1.2rem;
    grid-column-start: 0;
    text-align: left;
    grid-column-end: 1;
    grid-row-start: 1;
}

#threebarsandlogo {
    width: 40; 
    height: 10;
}
#searchbar {
    text-align: left;
    margin-left: 40rem;
    border-color: black;
    border-style: solid;
    margin-right: 40rem;
    border-width: .01rem;
    grid-column-start: 1;
}

#vid2 {grid-column-start: 1;
grid-row-start: 3;}

#vid1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}
#ad {
    grid-column-start: 2;
    grid-row-start: 1;
  
    }
#vid4{
    grid-column-start: 2;
    grid-row-start: 2;
}
#vid3{
    grid-column-start: 2;
    grid-row-start: 3;
}
   
